<mat-card>
    <form action="" (submit)="Onpost(senddata)" #senddata="ngForm">
        <mat-form-field>
            <input type="text" name="title" matInput placeholder="Post Title" ngModel required>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput name="content" rows="10" placeholder="Post Content" ngModel required></textarea>
        </mat-form-field>
        <button mat-raised-button color="accent">
            Save Post
        </button>
    </form>
</mat-card>
<app-postslist></app-postslist>